.faqs-container {
    color: #000;
    padding-top: 90px;
}

.title {
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    padding: 20px 0;
}

.content {
    padding: 10px 0;
    margin-bottom: 50px;
    width: 100%;
}