.product-container {
    padding-top: 140px;
    padding-bottom: 30px;
}


.slider-for {
    position: relative;
    width: 100%;
    /* height: 100%; */
    /* left: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.slider-for img {
    /* position: absolute; */
    width: 100%;
    margin: 0 auto;
    top: 0;
}


.slider-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.slider-nav img {
    width: 90%;
}

.slider-nav .product-img-nav {
    padding: 0 10px;
}

.slick-slide.slick-current.product-img-nav img {
    border: 2px solid #6f7275;
}


.slick-prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) translateX(130%);
    z-index: 2;
    width: 30px;
    height: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: var(--black);
    opacity: 0.7;
    transition: all 0.3s linear;
    font-size: 25px;
}

.slick-next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) translateX(-130%);
    z-index: 2;
    width: 30px;
    height: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: var(--black);
    opacity: 0.7;
    transition: all 0.3s linear;
    font-size: 25px;
}

.slider-nav .slick-prev {
    transform: translateY(-50%) translateX(50%);
}

.slider-nav .slick-next {
    transform: translateY(-50%) translateX(-50%);
}

.slider-for:hover .slick-prev {
    transform: translateY(-50%) translateX(50%);
    cursor: pointer;
}

.slider-for:hover .slick-next {
    transform: translateY(-50%) translateX(-50%);
    cursor: pointer;
}

.slider-nav:hover .slick-next {
    transform: translateY(-50%) translateX(-10%);
    cursor: pointer;
}

.slider-nav:hover .slick-prev {
    transform: translateY(-50%) translateX(10%);
    cursor: pointer;
}

.slider-for:focus-within {
    cursor: grab;
}

.slider-for:hover .slick-prev i,
.slider-for:hover .slick-next i,
.slider-nav:hover .slick-prev i,
.slider-nav:hover .slick-next i {
    color: var(--black);
    opacity: 1;
}


.slick-prev i,
.slick-next i {
    font-size: 27px;
    opacity: 0;
}

.product-main {
    display: flex;
}

.product-info {
    padding-left: 40px;
}

.product-info__nav {
    padding: 10px 0;
}

.product-info__nav a {
    text-decoration: none;
    color: #aaabad;
    transition: 0.2s;
    text-transform: uppercase;
}

.product-info__nav span {
    color: #aaabad;
}

.product-info__nav a:hover {
    color: var(--black);
}

.product-info__name {
    font-size: 28px;
    font-weight: 600;
    padding: 5px 0;
}

.product-info__price {
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0;
}

.product-info__option button {
    font-family: 'Montserrat', sans-serif;
}

.product-info__option {
    padding: 5px 0;
}

.product-info--select {
    display: flex;
    align-items: center;
}

fieldset {
    border: none;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    min-inline-size: unset;
}

.product-info--select input[type=radio]:checked+label {
    box-shadow: 0 0 0 2px #506f55;
    border: 1px solid #506f55;
}

.product-info--select input[type="radio"] {
    display: none;
}

.product-info--select input[type="radio"]+label {
    padding: 7px 15px;
    margin: 10px 10px;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #000;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    border-radius: 3px;
    font-weight: 500;
}

.product-info--input {
    margin: 12px 0;
}

.product-info--title,
.product-info--title {
    padding: 10px 0;
}

.backlit-select,
.switch-select {
    padding: 10px 20px;
    border: 1px solid var(--black);
    border-radius: 3px;
    background-color: var(--white);
    margin-right: 3px;
    margin-bottom: 7px;
    font-size: 15px;
    font-weight: 500;
}

.backlit-select.active,
.switch-select.active {
    border: 2px solid var(--black);
}


.product-info__btn-cart {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 10px;
}

.product-info__btn-cart .btn-cart,
.product-info__btn-buy .btn-buy {
    width: 100%;
    padding: 15px 0;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.product-info__btn-cart .btn-cart {
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 3px;
    letter-spacing: 1px;
}

.product-info__btn-buy .btn-buy {
    background-color: #184059;
    color: var(--white);
    border: 1px solid #184059;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: 0.2s;
}

.product-info__btn-buy .btn-buy:hover {
    background-color: #1a5275;
}

.product-footer {
    padding-top: 50px;
}


.product-description img {
    width: 100%;
    padding: 0;
    margin-bottom: -4px;
}

.product-description__specs--title {
    padding-top: 30px;
    font-size: 23px;
}

.product-description__specs--content {
    line-height: 25px;
    font-weight: 500;
}